@import "tailwindcss";

@theme {
  --color-background: #0c0a09;
  --color-background-secondary: #1c1917;
  --color-background-tertiary: #292524;
  --color-foreground: #fafaf9;
  --color-foreground-muted: #a8a29e;
  --color-accent: #22c55e;
  --color-accent-hover: #16a34a;
  --color-border: #44403c;
}
